.col-md-12

  h2 Now, let's write a biography about {{name}}
  
  text-angular(
    ng-model="biography"
    ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo']]"
  )
