
html
  head
    title My Dog Lacy!
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Abel|Karla|Monda|Roboto:100,300,400', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300|Shadows+Into+Light|Coming+Soon|Shadows+Into+Light+Two|Crafty+Girls|Alegreya+Sans+SC:400,300', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300|Shadows+Into+Light|Coming+Soon|Shadows+Into+Light+Two|Crafty+Girls|Alegreya+Sans+SC:400,300', type='text/css')
    link(rel='stylesheet', href='app.css')
    script(src="https://checkout.stripe.com/checkout.js")
    script(src='app.js')
    script(src='templates.js')
    base(href="/")
    
  body(
    ng-app='mydoglacy'
  )
    #fb-root
    div(ui-view="main")
    
    a(
      href="http://localhost:8082/features?a=57dc60d538ce76f51cdd1a1f&t=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyIkX18iOnsic3RyaWN0TW9kZSI6dHJ1ZSwiZ2V0dGVycyI6e30sIndhc1BvcHVsYXRlZCI6ZmFsc2UsImFjdGl2ZVBhdGhzIjp7InBhdGhzIjp7Il9fdiI6ImluaXQiLCJzYWx0IjoiaW5pdCIsInBhc3N3b3JkIjoiaW5pdCIsIl9pZCI6ImluaXQifSwic3RhdGVzIjp7Imlnbm9yZSI6e30sImRlZmF1bHQiOnt9LCJpbml0Ijp7Il9fdiI6dHJ1ZSwic2FsdCI6dHJ1ZSwicGFzc3dvcmQiOnRydWUsIl9pZCI6dHJ1ZX0sIm1vZGlmeSI6e30sInJlcXVpcmUiOnt9fSwic3RhdGVOYW1lcyI6WyJyZXF1aXJlIiwibW9kaWZ5IiwiaW5pdCIsImRlZmF1bHQiLCJpZ25vcmUiXX0sImVtaXR0ZXIiOnsiZG9tYWluIjpudWxsLCJfZXZlbnRzIjp7fSwiX2V2ZW50c0NvdW50IjowLCJfbWF4TGlzdGVuZXJzIjowfX0sImlzTmV3IjpmYWxzZSwiX2RvYyI6eyJfX3YiOjAsInNhbHQiOiIyMTIyNTA0MTIyODgiLCJwYXNzd29yZCI6ImE0MDYzNzJhNDNmNTZkZjZjZWMzYzE1NDY5ZDBkNDIwM2E4NDkyYTciLCJfaWQiOiI1N2RjNjQ0MjkyN2I3Y2Y5MDhhN2Y4OGUifSwiX3ByZXMiOnsiJF9fb3JpZ2luYWxfc2F2ZSI6W251bGwsbnVsbF0sIiRfX29yaWdpbmFsX3ZhbGlkYXRlIjpbbnVsbF0sIiRfX29yaWdpbmFsX3JlbW92ZSI6W251bGxdfSwiX3Bvc3RzIjp7IiRfX29yaWdpbmFsX3NhdmUiOltdLCIkX19vcmlnaW5hbF92YWxpZGF0ZSI6W10sIiRfX29yaWdpbmFsX3JlbW92ZSI6W119LCJpYXQiOjE0NzQwNjI1ODJ9.MF1_8lW_fFU3WbhSu_EhlvdXG1LMMMauAvjH-k96Yfo"
      target="_blank"
    ) Holla Back!
    
  script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=960453240736059";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  script.
    window.STRIPE = StripeCheckout.configure({
      key: 'pk_test_VSOl2a32ywHvrzNjzQfxTFBD',
      locale: 'auto',
      token: function(token) {
        console.log(token);
        // You can access the token ID with `token.id`.
        // Get the token ID to your server-side code for use.
      }
    });

    // Close Checkout on page navigation:
    //- $(window).on('popstate', function() {
    //-   window.STRIPE.close();
    //- });
