#page
  background-color: teal
  height: 100%
  padding-top: 40px

  .portrait
    position: absolute
    top: 0px
    width: 100%
    z-index: -1

  .name
    font-size: 60px

  .memory
    font-size: 30px

  .middle
    background-color: blue
    padding-top: 60px

  .first
    height: 98%

#page.blur
  -webkit-filter: blur(1.5px)
  -webkit-filter: blur(1.5px)
  -moz-filter: blur(1.5px)
  -ms-filter: blur(1.5px)
  -o-filter: blur(1.5px)
  filter: blur(1.5px)
