#page
  height: 100%
  padding-top: 40px

  .portrait
    position: absolute
    top: 0px
    width: 100%
    z-index: -1

  .name
    font-size: 80px
    color: white

  .date
    font-size: 40px
    color: white
    margin-bottom: 20px
    margin-top: 20px

  .biography
    font-size: 30px
    color: white

  section
    padding-top: 40px
    padding-bottom: 40px

  .middle
    background-color: teal

    img
      max-width: 450px
      border-radius: 10px
      box-shadow: 3px 3px 10px #333
      border: 1px solid white
      margin-top: 90px

  p + p
    margin-top: 40px

  .first
    height: 98%

  .publish
    position: fixed
    right: 100px
    top: 20px

  .edit
    position: fixed
    right: 20px
    top: 20px

#page.blur
  -webkit-filter: blur(1.5px)
  -webkit-filter: blur(1.5px)
  -moz-filter: blur(1.5px)
  -ms-filter: blur(1.5px)
  -o-filter: blur(1.5px)
  filter: blur(1.5px)
