.logo
  img(
    src='assets/images/logo.png'
  )

.banner
  img(
    src='assets/images/grayhound.jpg'
  )
  
  p.memo
    | Create a unique page 
    span now
    br
    | in remembrance of your best friend
  
  button.accent Create Your Page Now
