.logo
  img(
    src='assets/images/logo.png'
  )

.banner
  img(
    src='assets/images/grayhound.jpg'
  )
  
  p.memo
    span.big Loss is hard
    br
    | Let us help you create a unique
    br 
    | website in remembrance of your best friend
  
  button.accent(
    ui-sref='page'
  ) Create Your Page
