@font-face
  font-family: Montserrat
  src: url("assets/fonts/Montserrat-Regular.otf") format("opentype")

@font-face
  font-family: Montserrat
  font-weight: bold
  src: url("assets/fonts/Montserrat-Bold.otf") format("opentype")

h1, h2, h3, h4, h5, h6
  font-family: 'Montserrat', sans-serif

h1
  font-size: 60px
  font-weight: bold

a
  font-family: 'Montserrat', sans-serif
  cursor: pointer

li
  font-family: 'Montserrat', sans-serif

button:focus
  outline: 0

.accent
  color: #e94f43

.highlight
  background-color: #ea5044

.header.white
  background-color: rgba(255, 255, 255, 0.95)
  -webkit-transition: background 0.5s linear
  -moz-transition: background 0.5s linear
  -ms-transition: background 0.5s linear
  -o-transition: background 0.5s linear
  transition: background 0.5s linear
  box-shadow: 1px 1px 5px #666

  a
    color: black

  .logo
    color: black

  .navigation
    color: black

.header
  position: fixed
  top: 0px
  z-index: 100
  height: 70px
  width: 100%
  padding-top: 15px

  a
    color: white

  .logo
    padding-left: 50px
    z-index: 1
    color: white
    font-size: 30px

  .navigation
    float: right
    color: white
    font-size: 16px
    font-weight: 400
    padding-right: 100px
    padding-top: 8px

    ul
      list-style-type: none
      margin: 0
      padding: 0

    li
      display: inline

    li + li
      margin-left: 20px

  img
    width: 150px

// .banner
//   position: relative

.banner
  img
    width: 100%

  .memo
    text-align: left
    color: white
    position: absolute
    top: 140px
    left: 50px
    font-size: 30px
    font-weight: 100
    line-height: 40px
    font-family: 'Montserrat', sans-serif

    .best
      font-weight: 300
      text-decoration: underline

    .big
      line-height: 80px
      font-weight: 400
      font-size: 60px
      font-size: 4vw
      font-family: 'Montserrat', sans-serif

  .signup
    position: absolute
    top: 320px
    left: 55px

  input
    height: 60px
    padding-left: 10px
    padding-right: 10px
    font-size: 20px
    width: 300px
    border-radius: 10px
    background-color: rgba(0, 0, 0, 0.5)
    border-top-right-radius: 0px
    border-bottom-right-radius: 0px
    color: white

  button
    z-index: 1
    position: relative
    left: -5px
    background-color: #7ec75c
    color: black
    padding: 15px
    padding-left: 50px
    padding-right: 50px
    font-size: 20px
    border-radius: 5px
    border-top-left-radius: 0px
    border-bottom-left-radius: 0px
    font-family: 'Montserrat', sans-serif

    font-weight: 300
    border: 1px solid white

  button:hover
    background-color: #5ea73c

.section-preview
  border-top: 1px solid #a9b1a2
  background-color: white
  text-align: center
  color: white

  .tophalf
    background-image: url('assets/images/Rectangle-1.png')
    width: 100%
    height: 340px
    position: absolute
    z-index: 1
    background-color: #529689

  .z2
    padding-top: 20px
    z-index: 2
    position: relative

  p
    display: inline-block
    font-size: 20px
    width: 400px
    z-index: 2

  .carousel
    text-align: center
    font-size: 50px
    z-index: 2
    overflow: hidden

    button
      border: 2px solid #AAA
      text-align: center
      color: #AAA
      border-radius: 50%
      width: 50px
      height: 50px
      font-family: 'Montserrat', sans-serif
      font-weight: 100

      i
        font-size: 34px
        padding-top: 2px

      i.fa-chevron-right
        padding-left: 10px

    button:hover
      color: #999

    .wrapper
      width: 1px
      display: inline-block
      position: relative
      height: 420px
      padding-top: 20px

      .item
        border: 1px solid #CCC
        border-radius: 10px
        overflow: hidden
        display: inline-block
        position: absolute
        left: 0
        width: 340px
        height: 400px
        background-color: white
        -webkit-transition: all 0.8s ease
        -moz-transition: all 0.8s ease
        -o-transition: all 0.8s ease
        -ms-transition: all 0.8s ease
        transition: all 0.8s ease

        img
          width: 100%

    .controls
      padding-top: 20px
      padding-bottom: 40px

.section-features
  text-align: center
  padding-top: 60px
  background-color: #f8f8f8
  padding-bottom: 50px

  h3
    color: #8c8c8c
    line-height: 34px
    font-size: 22px

  img
    width: 180px

  .features
    h3
      line-height: 0px
      position: relative
      top: -14px

    h5
      line-height: 20px
      color: #adadad

.section-other
  background-color: white
  text-align: center
  padding-top: 60px
  padding-bottom: 50px

  img
    width: 100%

  .left
    text-align: left
    padding-top: 50px

  h1
    margin: 0
    padding: 0
    font-size: 50px
    line-height: 46px
    margin-bottom: 50px

  h3
    color: #adadad
    font-size: 20px
    line-height: 30px

.section-faq
  text-align: left
  padding-top: 60px
  background-color: #f8f8f8
  padding-bottom: 50px

  h1
    font-size: 40px
    margin-bottom: 40px

  li
    font-size: 16px
    color: #8c8c8c
    margin-bottom: 30px

.section-capture
  text-align: center
  padding-top: 60px
  background-color: #ea5044
  padding-bottom: 50px

  h1, h3
    color: white

  h1
    font-size: 40px

  h3
    font-size: 20px
    line-height: 30px

  button
    margin-top: 20px
    border-radius: 30px
    background-color: #35c9cb
    color: white
    font-size: 14px
    text-shadow: 1px 1px 1px black
    padding: 10px
    padding-left: 20px
    padding-right: 20px
    font-family: 'Montserrat', sans-serif

  button:hover
    background-color: #25b9bb
