a
  cursor: pointer

.header.white
  background-color: rgba(255, 255, 255, 0.95)
  -webkit-transition: background 0.5s linear
  -moz-transition: background 0.5s linear
  -ms-transition: background 0.5s linear
  -o-transition: background 0.5s linear
  transition: background 0.5s linear
  box-shadow: 1px 1px 5px #666

  a
    color: black

  .logo
    color: black

  .navigation
    color: black

.header
  position: fixed
  top: 0px
  z-index: 10
  height: 70px
  width: 100%
  padding-top: 15px

  a
    color: white

  .logo
    padding-left: 50px
    z-index: 1
    color: white
    font-size: 30px

  .navigation
    float: right
    color: white
    font-size: 16px
    font-weight: 400
    padding-right: 100px
    padding-top: 8px

    ul
      list-style-type: none
      margin: 0
      padding: 0

    li
      display: inline

    li + li
      margin-left: 20px

  img
    width: 150px

.banner
  position: relative

.banner
  img
    width: 100%

  .memo
    text-align: left
    color: white
    position: absolute
    top: 140px
    left: 50px
    font-size: 30px
    font-weight: 100
    line-height: 40px

    // font-family: 'Shadows Into Light', cursive
    // font-family: 'Coming Soon', cursive
    font-family: 'Shadows Into Light Two', cursive
    font-family: 'Crafty Girls', cursive
    font-family: 'Josefin Sans', sans-serif
    font-family: 'Roboto', sans-serif

    .best
      font-weight: 300
      text-decoration: underline

    .big
      line-height: 80px
      font-weight: 400
      font-size: 60px
      font-size: 4vw
      font-family: 'Alegreya Sans SC', sans-serif
      // font-family: 'Crafty Girls', cursive
      font-family: 'Shadows Into Light Two', cursive
      font-family: 'Roboto', sans-serif

  .signup
    position: absolute
    top: 320px
    left: 55px

  input
    height: 60px
    padding-left: 10px
    padding-right: 10px
    font-size: 20px
    width: 300px
    border-radius: 10px
    background-color: rgba(0, 0, 0, 0.5)
    border-top-right-radius: 0px
    border-bottom-right-radius: 0px
    color: white

  button
    z-index: 1
    position: relative
    left: -5px
    background-color: #7ec75c
    color: black
    padding: 15px
    padding-left: 50px
    padding-right: 50px
    font-size: 20px
    border-radius: 5px
    border-top-left-radius: 0px
    border-bottom-left-radius: 0px
    font-family: 'Roboto', sans-serif
    font-weight: 300
    border: 1px solid white

  button:hover
    background-color: #5ea73c

.section
  border-top: 1px solid #999
  height: 500px
  background-color: white

.carousel
  text-align: center
  font-size: 50px

  .wrapper
    width: 1px
    display: inline-block
    position: relative
    height: 380px
    padding-top: 100px

    .item
      border: 1px solid #999
      border-radius: 10px
      overflow: hidden
      display: inline-block
      position: absolute
      left: 0
      width: 200px
      -webkit-transition: all 1s ease
      -moz-transition: all 1s ease
      -o-transition: all 1s ease
      -ms-transition: all 1s ease
      transition: all 1s ease

      img
        width: 100%
